* {
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
}

main {
    padding-top: 100px;
}

article{
    width: 100%;
    height: 120px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    color: rgba(255, 240, 240, 0.712);
    align-items: center;
    background-color: brown;
    background-size: cover;
    background-position: 50% 80%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
}
button.hover{
    color: black;
    transform: translate(10px);
    transition: color 1s;
    transform: 2s;
}


.container {
    display: flex;
    flex-direction: row;
    background-image: url(/pages/gallery/sala.jpg);
    background-position: 10% 80%;
    background-size: cover;
    align-items: center;
}

.history {
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color: aliceblue;
    display: flex;
    line-height: 40px;
    align-items: center;
    border-radius: 10px;
}

.peli {
    width: 300px;
    height: auto;
    padding: 50px;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    border-radius: 10px;
}